*{
    margin: 0%;
    padding: 0%;
    font-family: lora , sans-serif;
}
body{
    background-color: #283618;
    color: #FEFAE0;
}
h1{
    text-align: center;
    margin: 2%;
}
details{
    margin-left: 10%;
}
@media screen and (min-width: 601px) {
    body {
      font-size: 19px;
    }
  }
@media screen and (max-width: 600px) {
    body{
      font-size: 15px;
    }
  }
@media screen and (max-width: 300px) {
    body{
      font-size: 13px;
    }
  }
details ul {
    margin-left: 10%;
    color: #FEFAE0;
}
.gamecontainer{
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.innerbox{
    height: 55vh;
    width: 55vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    margin: auto;
}
.btn
{
    height: 15vh;
    width: 15vw;
    gap: 23vmin;
    cursor: pointer;
    color: #FEFAE0;
    font-size: 18px;
    box-shadow: 2px 0px 6px 1px rgb(37, 37, 37);
    background-color: #BC6C25;
    outline: none;
    border: none;
}
.newgame{
    padding: 2%;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: #BC6C25;
    color: #FEFAE0;
    border-radius: 5px;
    box-shadow: 2px 0px 6px 1px rgb(17, 17, 17);
    &:hover{
        background-color: #77481f;
    }
    display: block;
    margin: auto;
}
.resetbtn{
    padding: 2%;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: #BC6C25;
    color: #FEFAE0;
    border-radius: 5px;
    box-shadow: 2px 0px 6px 1px rgb(17, 17, 17);
    &:hover{
        background-color: #77481f;
    }
    display: block;
    margin: auto;
    margin-top: 4%;
}
#mes{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.hide{
    display: none;
    visibility: hidden;
}